html {
    background-image: radial-gradient(circle, #58402D, #40241A);
}

body {
    margin: 0;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
}

img {
    display: none;
}